.leaflet-control-zoom-display {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width: 34px;
    height: 34px;
    line-height: 34px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-top: 0.3em;
    font: bold 12px/20px Tahoma, Verdana, sans-serif;
}
