.data-vertical .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.data-vertical .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
